#.pendonor-aktif1616-container {
  min-height: 100vh;
}
.pendonor-aktif1616-pendonor-aktif1616 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  max-width: auto;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.pendonor-aktif1616-svg {
  top: -11px;
  left: 1054px;
  width: 386;
  height: 1035;
  position: absolute;
}
.pendonor-aktif1616-svg1 {
  top: 598px;
  width: 726;
  height: 426;
  position: absolute;
}
.pendonor-aktif1616-image {
  top: 204px;
  left: 59px;
  width: 510px;
  height: 216px;
  position: absolute;
  box-shadow: 4px 8px 50px 0px rgba(0, 0, 0, 0.25) ;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(238, 233, 233, 1);
}
.pendonor-aktif1616-image1 {
  top: 512px;
  left: 59px;
  width: 510px;
  height: 216px;
  position: absolute;
  box-shadow: 4px 8px 50px 0px rgba(0, 0, 0, 0.25) ;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(238, 233, 233, 1);
}
.pendonor-aktif1616-image2 {
  top: 820px;
  left: 59px;
  width: 510px;
  height: 216px;
  position: absolute;
  box-shadow: 4px 8px 50px 0px rgba(0, 0, 0, 0.25) ;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(238, 233, 233, 1);
}
.pendonor-aktif1616-text {
  top: 911px;
  left: 292px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pendonor-aktif1616-image3 {
  top: 204px;
  left: 875px;
  width: 510px;
  height: 216px;
  position: absolute;
  box-shadow: 4px 8px 50px 0px rgba(0, 0, 0, 0.25) ;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(238, 233, 233, 1);
}
.pendonor-aktif1616-text01 {
  top: 301px;
  left: 1112px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pendonor-aktif1616-text02 {
  top: 256px;
  left: 1113px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pendonor-aktif1616-image4 {
  top: 512px;
  left: 875px;
  width: 510px;
  height: 216px;
  position: absolute;
  box-shadow: 4px 8px 50px 0px rgba(0, 0, 0, 0.25) ;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(238, 233, 233, 1);
}
.pendonor-aktif1616-text03 {
  top: 607px;
  left: 1109px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pendonor-aktif1616-image5 {
  top: 820px;
  left: 875px;
  width: 510px;
  height: 216px;
  position: absolute;
  box-shadow: 4px 8px 50px 0px rgba(0, 0, 0, 0.25) ;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(238, 233, 233, 1);
}
.pendonor-aktif1616-text04 {
  top: 911px;
  left: 1113px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pendonor-aktif1616-svg2 {
  top: 230px;
  left: 82px;
  width: 164;
  height: 163;
  position: absolute;
}
.pendonor-aktif1616-svg3 {
  top: 538px;
  left: 82px;
  width: 164;
  height: 163;
  position: absolute;
}
.pendonor-aktif1616-svg4 {
  top: 846px;
  left: 82px;
  width: 164;
  height: 163;
  position: absolute;
}
.pendonor-aktif1616-svg5 {
  top: 846px;
  left: 898px;
  width: 164;
  height: 163;
  position: absolute;
}
.pendonor-aktif1616-svg6 {
  top: 538px;
  left: 898px;
  width: 164;
  height: 163;
  position: absolute;
}
.pendonor-aktif1616-svg7 {
  top: 230px;
  left: 898px;
  width: 164;
  height: 163;
  position: absolute;
}
.pendonor-aktif1616-text05 {
  top: 39px;
  left: 447px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pendonor-aktif1616-text06 {
  top: 252px;
  left: 296px;
  color: rgba(0, 0, 0, 1);
  width: 217px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pendonor-aktif1616-text07 {
  top: 564px;
  left: 284px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pendonor-aktif1616-text08 {
  top: 607px;
  left: 282px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pendonor-aktif1616-text09 {
  top: 295px;
  left: 296px;
  color: rgba(0, 0, 0, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pendonor-aktif1616-text10 {
  top: 868px;
  left: 296px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pendonor-aktif1616-text11 {
  top: 564px;
  left: 1109px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pendonor-aktif1616-text12 {
  top: 868px;
  left: 1114px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pendonor-aktif1616-image6 {
  top: 24px;
  left: 19px;
  width: 75px;
  height: 75px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.pendonor-aktif1616-text13 {
  top: 338px;
  left: 292px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pendonor-aktif1616-text14 {
  top: 650px;
  left: 284px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pendonor-aktif1616-text15 {
  top: 954px;
  left: 288px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pendonor-aktif1616-text16 {
  top: 347px;
  left: 1113px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pendonor-aktif1616-text17 {
  top: 650px;
  left: 1109px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pendonor-aktif1616-text18 {
  top: 945px;
  left: 1113px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
